### Question 4: How many of the 10 best ranking ESG stocks have a better Performance than the S&P500? (SPY is used as benchmark)


- Step 1: Read the data that contains S&P 500 performance ranking and ESG scores
- Step 2: Take the 10 best ranked ESG Stocks from all tickers of SP 500 ranking
- Step 3: Calculate the performance of SPY (SPY is a ticker as an ETF tracking the S&P500)
- Step 4: Compare to the performance of SPY, define how many of the 10 stocks have higher performance than SPY

##### Step 1: Read the data that contains S&P 500 performance ranking and ESG scores

In [1]:
# Importing the packages
import pandas as pd
import numpy as np

In [2]:
# Reading the dataset that contains S&P 500 performance ranking
# which is created in Question 2 and saved it as "Tran_Dao_StudC_sp500_ranking_stage.csv"

sp500_ranking = pd.read_csv("../Tran_Dao_Data/Tran_Dao_StudC_sp500_ranking_stage.csv")
sp500_ranking

,Ticker,ESG Score,2020-12-31 00:00:00,2021-10-29 00:00:00,Change,Performance,Perform_Rank
0,MRNA,NaN,104.470001,345.209992,2.304393,Outperform,1
1,DVN,32.0,15.810000,40.080002,1.535104,Outperform,2
2,MRO,43.0,6.670000,16.320000,1.446777,Outperform,3
3,BBWI,16.0,30.064672,69.089996,1.298046,Outperform,4
4,FTNT,20.0,148.529999,336.339996,1.264458,Outperform,5
...,...,...,...,...,...,...,...
499,MKTX,NaN,570.559998,408.670013,-0.283739,Underperform,500
500,VTRS,NaN,18.740000,13.350000,-0.287620,Underperform,501
501,IPGP,12.0,223.789993,159.009995,-0.289468,Underperform,502
502,GPN,19.0,215.419998,142.990005,-0.336227,Underperform,503
503,LVS,18.0,59.599998,38.810001,-0.348825,Underperform,504

##### Step 2: Take the 10 best ranked ESG Stocks from all tickers of SP 500 ranking

In [3]:
# Rank the tickers based on their "ESG Score"
# Use the method 'dense' rank if found 2 values are same, then assign the same rank 
# The ranking ESG score will be in a new column titled 'ESG_Rank'
# which means the lowest ESG score corresponds to the best rank (start from 1)
sp500_ranking['ESG_Rank']=sp500_ranking['ESG Score'].rank(ascending=1,method='dense')
sp500_ranking.head()

,Ticker,ESG Score,2020-12-31 00:00:00,2021-10-29 00:00:00,Change,Performance,Perform_Rank,ESG_Rank
0,MRNA,NaN,104.470001,345.209992,2.304393,Outperform,1,NaN
1,DVN,32.0,15.810000,40.080002,1.535104,Outperform,2,25.0
2,MRO,43.0,6.670000,16.320000,1.446777,Outperform,3,35.0
3,BBWI,16.0,30.064672,69.089996,1.298046,Outperform,4,9.0
4,FTNT,20.0,148.529999,336.339996,1.264458,Outperform,5,13.0

In [4]:
sp500_ranking.columns

Index(['Ticker', 'ESG Score', '2020-12-31 00:00:00', '2021-10-29 00:00:00',
       'Change', 'Performance', 'Perform_Rank', 'ESG_Rank'],
      dtype='object')

In [5]:
# Rearrange the order of column names
sp500_ranking = sp500_ranking.reindex(columns=['Ticker',  '2020-12-31 00:00:00',
       '2021-10-29 00:00:00', 'Change', 'Performance', 'Perform_Rank','ESG Score',
       'ESG_Rank'])
sp500_ranking.sample(3)

,Ticker,2020-12-31 00:00:00,2021-10-29 00:00:00,Change,Performance,Perform_Rank,ESG Score,ESG_Rank
59,KSU,204.130005,310.250000,0.519865,Outperform,60,24.0,17.0
29,OKE,38.380001,63.619999,0.657634,Outperform,30,25.0,18.0
72,SLB,21.830000,32.259998,0.477783,Outperform,73,24.0,17.0

In [6]:
# Sorting values of 'ESG_Rank' in ascending order
esg_ranking=sp500_ranking.sort_values(['ESG_Rank'],axis=0,ascending=True,ignore_index=True)
esg_ranking

,Ticker,2020-12-31 00:00:00,2021-10-29 00:00:00,Change,Performance,Perform_Rank,ESG Score,ESG_Rank
0,CBRE,62.720001,104.080002,0.659439,Outperform,29,7.0,1.0
1,CDW,131.789993,186.649994,0.416268,Outperform,107,9.0,2.0
2,KEYS,132.089996,180.020004,0.362859,Outperform,134,9.0,2.0
3,RHI,62.480000,113.070000,0.809699,Outperform,17,9.0,2.0
4,PLD,99.660004,144.960007,0.454545,Outperform,86,10.0,3.0
...,...,...,...,...,...,...,...,...
499,DISCK,26.190001,22.559999,-0.138603,Underperform,481,NaN,NaN
500,PENN,86.370003,71.599998,-0.171008,Underperform,488,NaN,NaN
501,LW,78.739998,56.450001,-0.283084,Underperform,499,NaN,NaN
502,MKTX,570.559998,408.670013,-0.283739,Underperform,500,NaN,NaN
503,VTRS,18.740000,13.350000,-0.287620,Underperform,501,NaN,NaN

In [7]:
esg_ranking.dropna()

,Ticker,2020-12-31 00:00:00,2021-10-29 00:00:00,Change,Performance,Perform_Rank,ESG Score,ESG_Rank
0,CBRE,62.720001,104.080002,0.659439,Outperform,29,7.0,1.0
1,CDW,131.789993,186.649994,0.416268,Outperform,107,9.0,2.0
2,KEYS,132.089996,180.020004,0.362859,Outperform,134,9.0,2.0
3,RHI,62.480000,113.070000,0.809699,Outperform,17,9.0,2.0
4,PLD,99.660004,144.960007,0.454545,Outperform,86,10.0,3.0
...,...,...,...,...,...,...,...,...
445,CVX,84.449997,114.489998,0.355713,Outperform,138,41.0,34.0
446,GE,86.400002,104.870003,0.213773,Underperform,251,43.0,35.0
447,MRO,6.670000,16.320000,1.446777,Outperform,3,43.0,35.0
448,CTRA,16.280001,21.320000,0.309582,Outperform,170,47.0,36.0
449,LEG,44.299999,46.849998,0.057562,Underperform,369,49.0,37.0

In [8]:
esg_ranking.groupby('ESG_Rank').agg('count')

,Ticker,2020-12-31 00:00:00,2021-10-29 00:00:00,Change,Performance,Perform_Rank,ESG Score
ESG_Rank,,,,,,,
1.0,1,1,1,1,1,1,1
2.0,3,3,3,3,3,3,3
3.0,4,4,4,4,4,4,4
4.0,12,12,12,12,12,12,12
5.0,19,19,19,19,19,19,19
6.0,23,23,23,23,23,23,23
7.0,20,20,20,20,20,20,20
8.0,23,23,23,23,23,23,23
9.0,15,15,15,15,15,15,15
10.0,21,21,21,21,21,21,21
11.0,25,25,25,25,25,25,25
12.0,22,22,22,22,22,22,22
13.0,21,21,21,21,21,21,21
14.0,23,23,23,23,23,23,23
15.0,17,17,17,17,17,17,17
16.0,23,23,23,23,23,23,23
17.0,27,27,27,27,27,27,27
18.0,22,22,22,22,22,22,22
19.0,12,12,12,12,12,12,12
20.0,20,20,20,20,20,20,20
21.0,14,14,14,14,14,14,14
22.0,15,15,15,15,15,15,15
23.0,11,11,11,11,11,11,11
24.0,10,10,10,10,10,10,10
25.0,7,7,7,7,7,7,7
26.0,7,7,7,7,7,7,7
27.0,7,7,7,7,7,7,7
28.0,6,6,6,6,6,6,6
29.0,6,6,6,6,6,6,6
30.0,4,4,4,4,4,4,4
31.0,1,1,1,1,1,1,1
32.0,3,3,3,3,3,3,3
33.0,1,1,1,1,1,1,1
34.0,1,1,1,1,1,1,1
35.0,2,2,2,2,2,2,2
36.0,1,1,1,1,1,1,1
37.0,1,1,1,1,1,1,1

As we can see from the result above, there are several tickers are in the same rank (e.g., for rank 2nd, 3rd, 4th, etc).
- 1 ticker in rank 1st
- 3 tickers in rank 2nd
- 4 tickers in rank 3rd 
- 12 tickers in rank 4th

We now have 20 tickers with the best rank from 1st to 4th.

In [9]:
# Subsetting the data to select tickers from rank 1st to 4th
top20 = esg_ranking[esg_ranking['ESG_Rank'] < 5]
top20

,Ticker,2020-12-31 00:00:00,2021-10-29 00:00:00,Change,Performance,Perform_Rank,ESG Score,ESG_Rank
0,CBRE,62.720001,104.080002,0.659439,Outperform,29,7.0,1.0
1,CDW,131.789993,186.649994,0.416268,Outperform,107,9.0,2.0
2,KEYS,132.089996,180.020004,0.362859,Outperform,134,9.0,2.0
3,RHI,62.480000,113.070000,0.809699,Outperform,17,9.0,2.0
4,PLD,99.660004,144.960007,0.454545,Outperform,86,10.0,3.0
5,AVB,160.429993,236.679993,0.475285,Outperform,74,10.0,3.0
6,HAS,93.540001,95.760002,0.023733,Underperform,397,10.0,3.0
7,HPQ,24.590000,30.330000,0.233428,Underperform,234,10.0,3.0
8,CRM,222.529999,299.690002,0.346740,Outperform,145,11.0,4.0
9,ILMN,370.000000,415.059998,0.121784,Underperform,327,11.0,4.0
10,ACN,261.209992,358.790008,0.373569,Outperform,129,11.0,4.0
11,EQR,59.279999,86.400002,0.457490,Outperform,83,11.0,4.0
12,APD,273.220001,299.809998,0.097321,Underperform,342,11.0,4.0
13,PEAK,30.230000,35.509998,0.174661,Underperform,286,11.0,4.0
14,ADBE,500.119995,650.359985,0.300408,Outperform,178,11.0,4.0
15,STX,62.160000,89.070000,0.432915,Outperform,99,11.0,4.0
16,HD,265.619995,371.739990,0.399518,Outperform,117,11.0,4.0
17,WELL,64.620003,80.400002,0.244197,Outperform,225,11.0,4.0
18,AZO,1185.439941,1784.839966,0.505635,Outperform,65,11.0,4.0
19,CSCO,44.750000,55.970001,0.250726,Outperform,219,11.0,4.0

Here, we have the list of 20 best ranking ESG stocks.

##### Step 3: Calculate the performance of SPY (SPY is a ticker as an ETF tracking the S&P500)

In [10]:
# Reading the data that contains SPY ticker
df=pd.read_csv("../Tran_Dao_Data/Tran_Dao_StudC_combined_stock_data_stage.csv")
df

/home/student/venv/pds01-jpy-3.9/lib/python3.9/site-packages/IPython/core/interactiveshell.py:3441: DtypeWarning: Columns (9,10,11,12,13) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

,Ticker,Date,Open,High,Low,Close,Adj Close,Volume,S&P 500,Security,Sector,Sub-Industry,Industry,Homepage,ESG Score,ENVRisk,SocialRisk,GovRisk
0,MMM,2020-12-31,174.119995,174.869995,173.179993,174.789993,169.412537,1841300.0,member,3M,Industrials,Industrial Conglomerates,Conglomerates,http://www.3m.com,35.0,13.2,13.2,13.2
1,MMM,2021-01-04,175.000000,176.199997,170.550003,171.869995,166.582382,2996200.0,member,3M,Industrials,Industrial Conglomerates,Conglomerates,http://www.3m.com,35.0,13.2,13.2,13.2
2,MMM,2021-01-05,172.009995,173.250000,170.649994,171.580002,166.301315,2295300.0,member,3M,Industrials,Industrial Conglomerates,Conglomerates,http://www.3m.com,35.0,13.2,13.2,13.2
3,MMM,2021-01-06,172.720001,175.570007,172.039993,174.190002,168.831024,3346400.0,member,3M,Industrials,Industrial Conglomerates,Conglomerates,http://www.3m.com,35.0,13.2,13.2,13.2
4,MMM,2021-01-07,171.559998,173.460007,166.160004,169.720001,164.498520,5863400.0,member,3M,Industrials,Industrial Conglomerates,Conglomerates,http://www.3m.com,35.0,13.2,13.2,13.2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
205417,MMM,2021-04-12,198.199997,199.289993,197.059998,197.830002,193.323791,1682100.0,member,3M,Industrials,Industrial Conglomerates,Conglomerates,http://www.3m.com,35.0,13.2,13.2,13.2
205418,MMM,2021-04-13,196.009995,197.330002,195.369995,196.470001,191.994766,2259700.0,member,3M,Industrials,Industrial Conglomerates,Conglomerates,http://www.3m.com,35.0,13.2,13.2,13.2
205419,MMM,2021-04-30,197.660004,198.990005,196.130005,197.139999,192.649506,2507100.0,member,3M,Industrials,Industrial Conglomerates,Conglomerates,http://www.3m.com,35.0,13.2,13.2,13.2
205420,MMM,2021-08-12,201.479996,202.369995,200.360001,201.429993,198.290299,1231800.0,member,3M,Industrials,Industrial Conglomerates,Conglomerates,http://www.3m.com,35.0,13.2,13.2,13.2
205421,MMM,2021-09-24,181.500000,182.070007,180.619995,181.039993,179.578552,2076900.0,member,3M,Industrials,Industrial Conglomerates,Conglomerates,http://www.3m.com,35.0,13.2,13.2,13.2

In [11]:
# Create a dataframe which includes the data of "SPY" and information of 'Date','Close' columns 
# to calculate the performance of ticker "SPY"

df_spy = df[df['Ticker'] == 'SPY']
df_spy.sample(3)

,Ticker,Date,Open,High,Low,Close,Adj Close,Volume,S&P 500,Security,Sector,Sub-Industry,Industry,Homepage,ESG Score,ENVRisk,SocialRisk,GovRisk
205294,SPY,2021-05-19,406.920013,411.049988,405.329987,410.859985,409.520203,106467100.0,SPDR S&P 500 Trust,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
205403,SPY,2021-10-22,453.130005,454.670013,451.049988,453.119995,453.119995,58845100.0,SPDR S&P 500 Trust,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
205356,SPY,2021-08-17,444.239990,444.959992,440.850006,444.040008,444.040008,92673900.0,SPDR S&P 500 Trust,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [12]:
# Selecting records that have data on '2020-12-31' and '2021-10-29'
df_spy=df_spy[df_spy['Date'].isin(['2020-12-31','2021-10-29'])]
df_spy

,Ticker,Date,Open,High,Low,Close,Adj Close,Volume,S&P 500,Security,Sector,Sub-Industry,Industry,Homepage,ESG Score,ENVRisk,SocialRisk,GovRisk
205199,SPY,2020-12-31,371.779999,374.660004,371.230011,373.880005,371.444244,78520700.0,SPDR S&P 500 Trust,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
205408,SPY,2021-10-29,455.869995,459.559998,455.559998,459.250000,459.250000,70108200.0,SPDR S&P 500 Trust,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [13]:
# Transform the long format into wide format:
df_spy_wide=df_spy.pivot(index="Ticker",columns="Date",values="Close")
df_spy_wide

Date    2020-12-31  2021-10-29
Ticker
SPY     373.880005      459.25

In [14]:
# Calculating the pure performance and store the result in a new column 'Change'
df_spy_wide['Change'] = (df_spy_wide['2021-10-29']-df_spy_wide['2020-12-31'])/df_spy_wide['2020-12-31']
df_spy_wide

Date    2020-12-31  2021-10-29    Change
Ticker
SPY     373.880005      459.25  0.228335

SPY is used as a benchmark and it's performance rate is 0.228335 from *2020-12-31* to *2021-10-29*.

##### Step 4: Compare the performance of top best stocks (resulted in Step 3) to the performance of SPY, define how many of them have higher performance than SPY

In [15]:
# Select the tickers in the list of best stocks that have higher performance rate of SPY:
result=top20.query('Change > 0.228335')
result

,Ticker,2020-12-31 00:00:00,2021-10-29 00:00:00,Change,Performance,Perform_Rank,ESG Score,ESG_Rank
0,CBRE,62.720001,104.080002,0.659439,Outperform,29,7.0,1.0
1,CDW,131.789993,186.649994,0.416268,Outperform,107,9.0,2.0
2,KEYS,132.089996,180.020004,0.362859,Outperform,134,9.0,2.0
3,RHI,62.480000,113.070000,0.809699,Outperform,17,9.0,2.0
4,PLD,99.660004,144.960007,0.454545,Outperform,86,10.0,3.0
5,AVB,160.429993,236.679993,0.475285,Outperform,74,10.0,3.0
7,HPQ,24.590000,30.330000,0.233428,Underperform,234,10.0,3.0
8,CRM,222.529999,299.690002,0.346740,Outperform,145,11.0,4.0
10,ACN,261.209992,358.790008,0.373569,Outperform,129,11.0,4.0
11,EQR,59.279999,86.400002,0.457490,Outperform,83,11.0,4.0
14,ADBE,500.119995,650.359985,0.300408,Outperform,178,11.0,4.0
15,STX,62.160000,89.070000,0.432915,Outperform,99,11.0,4.0
16,HD,265.619995,371.739990,0.399518,Outperform,117,11.0,4.0
17,WELL,64.620003,80.400002,0.244197,Outperform,225,11.0,4.0
18,AZO,1185.439941,1784.839966,0.505635,Outperform,65,11.0,4.0
19,CSCO,44.750000,55.970001,0.250726,Outperform,219,11.0,4.0

In [16]:
len(result.Ticker.unique())

16

**Answer**: Finally we have 16 of the 20 best ranking ESG stocks have a better Performance than the S&P500 (SPY is used as benchmark).

In [17]:
# Write the resutl in an excel file

result.to_excel("../Tran_Dao_Data/Result_Question_04.xlsx",index=False)