# Loading data into tables

SQLAlchemy provides a nice “Pythonic” way of interacting with databases.

In [2]:
# Import packages
import pymysql.cursors
import pymysql
import pandas as pd
import sqlalchemy as db
from sqlalchemy import create_engine

## Write Pandas DataFrame into a MySQL Database Table:

Obtain an SQLAlchemy engine object to connect to the MySQL database server by providing required credentials.
Using the engine object, connect to the MySQL server by calling the connect() method.

In [2]:
sqlEngine = create_engine('mysql+pymysql://admin:1240@localhost/CIP', pool_recycle=3600)

dbConnection = sqlEngine.connect()

In [3]:
# Import data into dataframes
src_data_sp500            =pd.read_csv("../Tran_Dao_Data/Tran_Dao_StudC_data_sp500_src.csv",low_memory=False,index_col=False)
src_data_non_sp500        =pd.read_csv("../Tran_Dao_Data/Tran_Dao_StudC_data_non_sp500_src.csv",low_memory=False,index_col=False)
src_data_spy              =pd.read_csv("../Tran_Dao_Data/Tran_Dao_StudC_data_spy_src.csv",low_memory=False,index_col=False)
src_stock_data            =pd.read_csv("../Tran_Dao_Data/Tran_Dao_StudC_stock_data_src.csv",low_memory=False,index_col=False)

In [4]:
stage_stock_data          =pd.read_csv("../Tran_Dao_Data/Tran_Dao_StudC_stock_data_stage.csv",low_memory=False,index_col=False)
stage_combined_stock_data =pd.read_csv("../Tran_Dao_Data/Tran_Dao_StudC_combined_stock_data_stage.csv",low_memory=False,index_col=False)
stage_sp500_ranking       =pd.read_csv("../Tran_Dao_Data/Tran_Dao_StudC_sp500_ranking_stage.csv",low_memory=False,index_col=False)
stage_top5_esg            =pd.read_csv("../Tran_Dao_Data/Tran_Dao_StudC_top5_esg_stage.csv",low_memory=False,index_col=False)
stage_top5_sp500          =pd.read_csv("../Tran_Dao_Data/Tran_Dao_StudC_top5_sp500_stage.csv",low_memory=False,index_col=False)

In [5]:
result_1=pd.read_excel("../Tran_Dao_Data/Result_Question_01.xlsx",index_col=False)
result_2=pd.read_excel("../Tran_Dao_Data/Result_Question_02.xlsx",index_col=False)
result_3=pd.read_excel("../Tran_Dao_Data/Result_Question_03.xlsx",index_col=False)
result_4=pd.read_excel("../Tran_Dao_Data/Result_Question_04.xlsx",index_col=False)

In [6]:
# Now write dataframes into database tables

try:
    src_data_sp500.to_sql("data_sp500_src", dbConnection, if_exists='replace');
    src_data_non_sp500.to_sql("data_non_sp500_src", dbConnection, if_exists='replace');
    src_data_spy.to_sql("data_spy_src", dbConnection, if_exists='replace');  
    src_stock_data.to_sql("stock_data_src", dbConnection, if_exists='replace');
    
    stage_stock_data.to_sql("stock_data_stage", dbConnection, if_exists='replace');
    stage_combined_stock_data.to_sql("combined_stock_data_stage", dbConnection, if_exists='replace');
    stage_sp500_ranking.to_sql("sp500_ranking_stage", dbConnection, if_exists='replace');
    stage_top5_esg.to_sql("top5_esg_stage", dbConnection, if_exists='replace');
    stage_top5_sp500.to_sql("top5_sp500_stage", dbConnection, if_exists='replace');
    
    result_1.to_sql("Result_Question_01", dbConnection, if_exists='replace');
    result_2.to_sql("Result_Question_02", dbConnection, if_exists='replace');
    result_3.to_sql("Result_Question_03", dbConnection, if_exists='replace');
    result_4.to_sql("Result_Question_04", dbConnection, if_exists='replace');

except ValueError as vx:
    print(vx)
except Exception as ex:   
    print(ex)
else:
    #print("Table %s created successfully."%"data_sp500_src");   
    print('Successsfully loaded the tables.')
finally: 
    print("Finished loading.")

Successsfully loaded the tables.
Finished loading.

In [7]:
pd.set_option('display.expand_frame_repr', False)

In [8]:
# Show tables existing in database
tables = pd.read_sql_query('SHOW TABLES FROM CIP', 
                                       dbConnection)
tables

                Tables_in_CIP
0          Result_Question_01
1          Result_Question_02
2          Result_Question_03
3          Result_Question_04
4   combined_stock_data_stage
5          data_non_sp500_src
6              data_sp500_src
7                data_spy_src
8         sp500_ranking_stage
9              stock_data_src
10           stock_data_stage
11             top5_esg_stage
12           top5_sp500_stage

## Read database tables

In [9]:
table1  = pd.read_sql("select * from CIP.Result_Question_01", dbConnection);

print(table1)

   index              Person                          Company Ticker      A     D  Difference
0      0    Schell Christoph                           HP INC    HPQ  84346     0       84346
1      1         Myers Marie                           HP INC    HPQ  33592  8454       25138
2      2  Nygaard Jeffrey D.  Seagate Technology Holdings plc    STX  21344  6893       14451

In [10]:
table2  = pd.read_sql("select * from CIP.Result_Question_02", dbConnection);

print(table2)

   index                              Person               Company Ticker       A         D  Difference
0      0                    Whitehead Dane E     MARATHON OIL CORP    MRO   83705     16902       66803
1      1                       Tillman Lee M     MARATHON OIL CORP    MRO  479857    414075       65782
2      2                 Harris David Gerard  DEVON ENERGY CORP/DE    DVN   67455     19528       47927
3      3  Felix Investments Holdings Ii, Llc  DEVON ENERGY CORP/DE    DVN       0  29579389   -29579389
4      4                       Afeyan Noubar         Moderna, Inc.   MRNA       0  10290906   -10290906
5      5                     Bancel Stephane         Moderna, Inc.   MRNA       0   1070028    -1070028

In [11]:
table4  = pd.read_sql("select * from CIP.Result_Question_04", dbConnection);

print(table4)

    index Ticker  2020-12-31 00:00:00  2021-10-29 00:00:00    Change   Performance  Perform_Rank  ESG Score  ESG_Rank
0       0   CBRE            62.720001           104.080002  0.659439    Outperform            29          7         1
1       1    CDW           131.789993           186.649994  0.416268    Outperform           107          9         2
2       2   KEYS           132.089996           180.020004  0.362859    Outperform           134          9         2
3       3    RHI            62.480000           113.070000  0.809699    Outperform            17          9         2
4       4    PLD            99.660004           144.960007  0.454545    Outperform            86         10         3
5       5    AVB           160.429993           236.679993  0.475285    Outperform            74         10         3
6       6    HPQ            24.590000            30.330000  0.233428  Underperform           234         10         3
7       7    CRM           222.529999           299.690002  0.346740    Outperform           145         11         4
8       8    ACN           261.209992           358.790008  0.373569    Outperform           129         11         4
9       9    EQR            59.279999            86.400002  0.457490    Outperform            83         11         4
10     10   ADBE           500.119995           650.359985  0.300408    Outperform           178         11         4
11     11    STX            62.160000            89.070000  0.432915    Outperform            99         11         4
12     12     HD           265.619995           371.739990  0.399518    Outperform           117         11         4
13     13   WELL            64.620003            80.400002  0.244197    Outperform           225         11         4
14     14    AZO          1185.439941          1784.839966  0.505635    Outperform            65         11         4
15     15   CSCO            44.750000            55.970001  0.250726    Outperform           219         11         4

In [12]:
table4.query('ESG_Rank < 3')

   index Ticker  2020-12-31 00:00:00  2021-10-29 00:00:00    Change Performance  Perform_Rank  ESG Score  ESG_Rank
0      0   CBRE            62.720001           104.080002  0.659439  Outperform            29          7         1
1      1    CDW           131.789993           186.649994  0.416268  Outperform           107          9         2
2      2   KEYS           132.089996           180.020004  0.362859  Outperform           134          9         2
3      3    RHI            62.480000           113.070000  0.809699  Outperform            17          9         2

In [13]:
table5=pd.read_sql("select * from CIP.combined_stock_data_stage", dbConnection);
table5

         index Ticker        Date        Open        High         Low       Close   Adj Close     Volume S&P 500 Security       Sector              Sub-Industry       Industry           Homepage  ESG Score  ENVRisk  SocialRisk  GovRisk
0            0    MMM  2020-12-31  174.119995  174.869995  173.179993  174.789993  169.412537  1841300.0  member       3M  Industrials  Industrial Conglomerates  Conglomerates  http://www.3m.com       35.0     13.2        13.2     13.2
1            1    MMM  2021-01-04  175.000000  176.199997  170.550003  171.869995  166.582382  2996200.0  member       3M  Industrials  Industrial Conglomerates  Conglomerates  http://www.3m.com       35.0     13.2        13.2     13.2
2            2    MMM  2021-01-05  172.009995  173.250000  170.649994  171.580002  166.301315  2295300.0  member       3M  Industrials  Industrial Conglomerates  Conglomerates  http://www.3m.com       35.0     13.2        13.2     13.2
3            3    MMM  2021-01-06  172.720001  175.570007  172.039993  174.190002  168.831024  3346400.0  member       3M  Industrials  Industrial Conglomerates  Conglomerates  http://www.3m.com       35.0     13.2        13.2     13.2
4            4    MMM  2021-01-07  171.559998  173.460007  166.160004  169.720001  164.498520  5863400.0  member       3M  Industrials  Industrial Conglomerates  Conglomerates  http://www.3m.com       35.0     13.2        13.2     13.2
...        ...    ...         ...         ...         ...         ...         ...         ...        ...     ...      ...          ...                       ...            ...                ...        ...      ...         ...      ...
205417  205417    MMM  2021-04-12  198.199997  199.289993  197.059998  197.830002  193.323791  1682100.0  member       3M  Industrials  Industrial Conglomerates  Conglomerates  http://www.3m.com       35.0     13.2        13.2     13.2
205418  205418    MMM  2021-04-13  196.009995  197.330002  195.369995  196.470001  191.994766  2259700.0  member       3M  Industrials  Industrial Conglomerates  Conglomerates  http://www.3m.com       35.0     13.2        13.2     13.2
205419  205419    MMM  2021-04-30  197.660004  198.990005  196.130005  197.139999  192.649506  2507100.0  member       3M  Industrials  Industrial Conglomerates  Conglomerates  http://www.3m.com       35.0     13.2        13.2     13.2
205420  205420    MMM  2021-08-12  201.479996  202.369995  200.360001  201.429993  198.290299  1231800.0  member       3M  Industrials  Industrial Conglomerates  Conglomerates  http://www.3m.com       35.0     13.2        13.2     13.2
205421  205421    MMM  2021-09-24  181.500000  182.070007  180.619995  181.039993  179.578552  2076900.0  member       3M  Industrials  Industrial Conglomerates  Conglomerates  http://www.3m.com       35.0     13.2        13.2     13.2

[205422 rows x 19 columns]

In [14]:
table9=pd.read_sql("select * from CIP.sp500_ranking_stage", dbConnection);
print(table9)

     index Ticker  ESG Score  2020-12-31 00:00:00  2021-10-29 00:00:00    Change   Performance  Perform_Rank
0        0   MRNA        NaN           104.470001           345.209992  2.304393    Outperform             1
1        1    DVN       32.0            15.810000            40.080002  1.535104    Outperform             2
2        2    MRO       43.0             6.670000            16.320000  1.446777    Outperform             3
3        3   BBWI       16.0            30.064672            69.089996  1.298046    Outperform             4
4        4   FTNT       20.0           148.529999           336.339996  1.264458    Outperform             5
..     ...    ...        ...                  ...                  ...       ...           ...           ...
499    499   MKTX        NaN           570.559998           408.670013 -0.283739  Underperform           500
500    500   VTRS        NaN            18.740000            13.350000 -0.287620  Underperform           501
501    501   IPGP       12.0           223.789993           159.009995 -0.289468  Underperform           502
502    502    GPN       19.0           215.419998           142.990005 -0.336227  Underperform           503
503    503    LVS       18.0            59.599998            38.810001 -0.348825  Underperform           504

[504 rows x 8 columns]

In [15]:
query9=table9.query("Ticker in ['AAPL']")
print('Filtered sample pandas DataFrame:\n')
print(query9)

Filtered sample pandas DataFrame:

     index Ticker  ESG Score  2020-12-31 00:00:00  2021-10-29 00:00:00    Change   Performance  Perform_Rank
321    321   AAPL       17.0           132.690002           149.800003  0.128947  Underperform           322

In [16]:
table10=pd.read_sql("select * from CIP.stock_data_stage", dbConnection);
print(table10)

         index Ticker        Date        Open        High         Low       Close   Adj Close     Volume S&P 500
0            0    MMM  2020-12-31  174.119995  174.869995  173.179993  174.789993  169.412537  1841300.0  member
1            1    MMM  2021-01-04  175.000000  176.199997  170.550003  171.869995  166.582382  2996200.0  member
2            2    MMM  2021-01-05  172.009995  173.250000  170.649994  171.580002  166.301315  2295300.0  member
3            3    MMM  2021-01-06  172.720001  175.570007  172.039993  174.190002  168.831024  3346400.0  member
4            4    MMM  2021-01-07  171.559998  173.460007  166.160004  169.720001  164.498520  5863400.0  member
...        ...    ...         ...         ...         ...         ...         ...         ...        ...     ...
205417  205417    MMM  2021-04-12  198.199997  199.289993  197.059998  197.830002  193.323791  1682100.0  member
205418  205418    MMM  2021-04-13  196.009995  197.330002  195.369995  196.470001  191.994766  2259700.0  member
205419  205419    MMM  2021-04-30  197.660004  198.990005  196.130005  197.139999  192.649506  2507100.0  member
205420  205420    MMM  2021-08-12  201.479996  202.369995  200.360001  201.429993  198.290299  1231800.0  member
205421  205421    MMM  2021-09-24  181.500000  182.070007  180.619995  181.039993  179.578552  2076900.0  member

[205422 rows x 10 columns]

In [17]:
table12  = pd.read_sql("select * from CIP.top5_esg_stage", dbConnection);

print(table12)

   index                  Sector Ticker  2020-12-31  2021-10-29    Change Performance  ESG Score  ESG_Rank
0      0  Information Technology   KEYS  132.089996  180.020004  0.362859  Outperform        9.0       1.0
1      1  Information Technology    CDW  131.789993  186.649994  0.416268  Outperform        9.0       1.0
2      2  Information Technology    HPQ   24.590000   30.330000  0.233428  Outperform       10.0       2.0
3      3  Information Technology    ACN  261.209992  358.790008  0.373569  Outperform       11.0       3.0
4      4  Information Technology    STX   62.160000   89.070000  0.432915  Outperform       11.0       3.0

In [18]:
table13  = pd.read_sql("select * from CIP.top5_sp500_stage", dbConnection);

print(table13)

   index Ticker  2020-12-31 00:00:00  2021-10-29 00:00:00    Change Performance  Perform_Rank
0      0   MRNA           104.470001           345.209992  2.304393  Outperform             1
1      1    DVN            15.810000            40.080002  1.535104  Outperform             2
2      2    MRO             6.670000            16.320000  1.446777  Outperform             3
3      3   BBWI            30.064672            69.089996  1.298046  Outperform             4
4      4   FTNT           148.529999           336.339996  1.264458  Outperform             5

In [19]:
# Close the connection
dbConnection.close()